// PX to Em
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//  Clearfix Mixin
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
